.table{
    width: 50%;
    margin: 0 25% 0 25%;
}

.table th{
    background-color: #069;
    color: white;
}


@media screen and (max-width:720px){
    .table{
        font-size: 0.9rem;
        width: 100%;
        margin: 0%;
    }
}